@page
@model SABlues.Pages.OurBedlingtons.AmberModel
@{
}

<div class="text-center text-black">
    <br />
    <h1 class="display-4">Amber</h1>
</div>

<br />
<div class="text-center">
    <h3 class="display-8">Sandy and Blue's Celtic Rose</h3>
    <br />
</div>