@page
@model SABlues.Pages.OurBedlingtons.IndexModel
@{
}

<br /><br />
<div class="text-center">
    <h1>Vår Bedlingtons</h1>
</div>
<br /><br />
<div class="card-columns">
    @foreach (var puppies in Model.OurBedlingtons)
    {

        <div class=" card">
            <div class="card-img" style="background-image: url('@puppies.Image')"></div>
            <div class=" card-body">
                <h5 class="card-title"> @puppies.Name</h5>
                @if (puppies.Name == "AMBER")
                {
                    <a asp-page="Amber" class="stretched-link"></a>
                }
            </div>
        </div>
    }
</div>
