@page
@model SABlues.Pages.Pupps.BlitterModel
@{
}

<a class="btn btn-primary btn-lg" asp-area="" asp-page="/Pupps/Index" role="button">Back to Puppies</a>
<br />
<br />
<div class="card-columns">
    @foreach (var puppies in Model.Puppies)
    {

        <div class=" card">
            <div class="card-img" style="background-image: url('@puppies.Image')"></div>
            <div class=" card-body">
                <h5 class="card-title"> @puppies.Name</h5>
            </div>
        </div>
    }
</div>